<div class="pagetitle">
  <h1>Dashboard</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/QLCSVC/ttdc/listttdc">Chi tiết thông tin sửa</a></li>
      <li class="breadcrumb-item active">Chi tiết thông tin sửa</li>
    </ol>
  </nav>
</div>
<section class="section profile">
  <div class="row">


    <div class="col-xl-12">

      <div class="card">
        <div class="card-body pt-3">
          <!-- Bordered Tabs -->
          <ul class="nav nav-tabs nav-tabs-bordered">

            <li class="nav-item">
              <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-edit">Chi tiết thông tin sửa</button>
            </li>

          </ul>
          <div class="tab-content pt-2">



            <div class="tab-pane fade show active profile-edit pt-3" id="profile-edit" *ngIf="ttsua$|async as ttsua">

              <!-- Profile Edit Form -->





                <div class="row mb-3">
                  <label for="company" class="col-md-4 col-lg-3 col-form-label">Tên thông tin sửa</label>
                  <div class="col-md-8 col-lg-9">

                    <p >{{ttsua.tenTTSua}}</p>
                  </div>
                </div>



                <div class="row mb-3">
                  <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Mô tả</label>
                  <div class="col-md-8 col-lg-9">
                    <p >{{ttsua.moTa}}</p>
                  </div>
                </div>
                <div class="row mb-3" >
                  <label for="Address" class="col-md-4 col-lg-3 col-form-label">Phòng </label>
                  <div class="col-md-4 col-lg-5 d-flex align-items-center" >

                    <p >{{ttsua.phong.tenPhong}}</p>

                  </div>
                </div>
                <div class="row mb-3" >
                  <label for="Address" class="col-md-4 col-lg-3 col-form-label">Chi phí</label>
                  <div class="col-md-4 col-lg-5 d-flex align-items-center" >

                    <p >{{ttsua.chiPhi}} VND</p>


                  </div>
                </div>
                <div class="row mb-3" >
                  <label for="Address" class="col-md-4 col-lg-3 col-form-label">Nguời thực hiện</label>
                  <div class="col-md-4 col-lg-5 d-flex align-items-center" >


                    <p >{{ttsua.user.username}}</p>
                  </div>
                </div>
                <div class="row mb-3" >
                  <label for="Address" class="col-md-4 col-lg-3 col-form-label">Ngày lập</label>
                  <div class="col-md-4 col-lg-5 d-flex align-items-center" >

                    <p >{{ttsua.createdDate|date}}</p>

                  </div>
                </div>





                    <h5 class="card-title">Danh sách tài sản sửa</h5>
                    <!-- Table with stripped rows -->
                    <table class="table datatable" *ngIf="ttsua$|async as ttsua">
                      <thead>
                        <tr>
                          <th scope="col">
                            Mã tài sản</th>
                          <th scope="col">Hình ảnh</th>
                          <th scope="col">Tên tài sản</th>
                          <th scope="col">Vị trí</th>
                          <th scope="col">Trạng thái</th>
                          <th scope="col">Danh mục tài sản</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let taisan of ttsua.taiSans,let i=index">
                          <th>{{taisan.maTS}}</th>
                           <td scope="row"><a routerLink="/QLCSVC/taisan/detail/{{taisan.maTS}}"  > <img width="60px" src="http://localhost:8080/QLCSVC/api/file/{{taisan.image}}" alt=""></a></td>
                          <td><a routerLink="/QLCSVC/taisan/detail/{{taisan.maTS}}" class="text-primary fw-bold">{{taisan.tenTS}}</a></td>
                          <td>{{taisan.phong.tenPhong}}</td>
                          <td>{{taisan.trangThai.tenTT}}</td>
                          <td>{{taisan.danhMucTaiSan.tenDanhMucTS}}</td>

                        </tr>



                      </tbody>
                    </table>
                    <!-- End Table with stripped rows -->





















            </div>



          </div><!-- End Bordered Tabs -->

        </div>
      </div>

    </div>
  </div>
</section>



