
<div class="pagetitle">
  <h1>Dashboard</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/QLCSVC/ttdc/listttdc">Thông tin sửa</a></li>
      <li class="breadcrumb-item active">Danh sách thông tin sửa</li>
    </ol>
  </nav>
</div>
<section class="section dashboard">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-12">
          <div class="card top-selling overflow-auto">

            <div class="card-body pb-0">
              <div class="d-flex justify-content-between">
                <h5 class="card-title">Danh sách thông tin sửa <span></span></h5>
                <button type="button " (click)=" navigateToAddPage()" class="btn btn-info my-2 btn-sm">Lập thông tin sửa<i class="fa-solid fa-plus"></i></button>
              </div>

              <table class="table table-borderless">
                <thead>
                  <tr>
                    <th scope="col">Mã TT Sửa</th>
                    <th scope="col">Tên TT Sửa</th>

                    <th scope="col">Phòng</th>
                    <th scope="col">Chi phí</th>
                    <th scope="col">Người thực hiện</th>
                    <th scope="col">Mô tả</th>

                  </tr>
                </thead>
                <tbody *ngIf="(ttsuas$|async).data.page.content as ttsuas">
                  <tr *ngFor="let ttsua of ttsuas">
                    <td>{{ttsua.maTTSua}}</td>
                    <th scope="row"><a routerLink="/QLCSVC/ttsua/detail/{{ttsua.maTTSua}}" >{{ttsua.tenTTSua}}</a></th>
                    <td><a routerLink="/QLCSVC/phong/chitietphong/{{ttsua.phong.maPhong}}" class="text-primary fw-bold">{{ttsua.phong.tenPhong}}</a></td>
                    <td>{{ttsua.chiPhi}} VND</td>
                    <td >{{ttsua.user.username}}</td>
                    <td>{{ttsua.moTa}}</td>

                  </tr>


                </tbody>
              </table>

            </div>

            <nav aria-label="Page navigation example " *ngIf="(ttsuas$|async) as api">
              <ul class="pagination justify-content-center" >
                <li class="page-item " [ngClass]="api.data.page.number+1===1?'disabled':''" (click)="goToPage(api.data.page.number-1)">
                  <a class="page-link"[ngClass]="api.data.page.number+1===1?'disabled':''" >Previous</a>
                </li>
                <li class="page-item" [ngClass]="i===api.data.page.number?'active':''" *ngFor="let pageNumber of [].constructor(api.data.page.totalPages),let i=index" (click)="goToPage(i)"><a class="page-link" >{{i+1}}</a></li>

                <li class="page-item"   [ngClass]="api.data.page.number+1===api.data.page.totalPages?'disabled':''">
                  <a class="page-link"  [ngClass]="api.data.page.number+1===api.data.page.totalPages?'disabled':''" (click)="goToPage(api.data.page.number+1)">Next</a>
                </li>
              </ul>
            </nav>

          </div>
        </div>


      </div>
    </div>
  </div>
</section>


