
<div class="pagetitle">
  <h1>Dashboard</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/QLCSVC/user/">User</a></li>
      <li class="breadcrumb-item active">Danh sách user</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-5">
                        <h2>Danh Sách <b>Thành Viên</b></h2>
                    </div>
                    <div class="col-sm-7">
                        <a routerLink="/QLCSVC/user/addUser" class="btn btn-secondary" *ngIf="isTruongKhoa()"><i class="material-icons">&#xE147;</i> <span>Thêm thành viên</span></a>

                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>User name</th>
                        <th>Chức vụ</th>

                        <th>Phòng quản lý</th>
                        <th *ngIf="isTruongKhoa()">Thao tác</th>
                    </tr>
                </thead>
                <tbody *ngIf=" Users$|async as Users">
                    <tr *ngFor="let user of Users.data.page.content">
                        <td>{{user.id}}</td>
                        <td><a routerLink="/QLCSVC/user/editUser/{{user.username}}"><img style="width:40px" src="http://localhost:8080/QLCSVC/api/file/{{user.image}}" class="avatar" alt="Avatar"> {{user.name}}</a></td>
                        <td>{{user.username}}</td>
                        <td>{{user.chucVu.tenChucVu}}</td>

                        <td>
                          <a routerLink="/QLCSVC/phong/chitietphong/{{phong.maPhong}}" *ngFor="let phong of user.phongs">{{phong.tenPhong}},</a>

                        </td>



                        <td *ngIf="isTruongKhoa()">
                            <a href="/QLCSVC/user/editUser/{{user.username}}" class="settings" title="Settings" data-toggle="tooltip"><i class="material-icons">&#xE8B8;</i></a>
                            <a href="#deleteModal{{user.id}}" class="delete" title="Delete" data-toggle="tooltip" data-bs-toggle="modal" ><i class="material-icons">&#xE5C9;</i></a>
                        </td>
                         <!-- Modal -->
                         <div class="modal fade" id="deleteModal{{user.id}}" tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Xác nhận xóa</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                               Bạn có muốn xóa user({{user.username}})
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" (click)="deleteUser(user.id)">Save changes</button>
                              </div>
                            </div>
                          </div>
                        </div>
                    </tr>

                </tbody>
            </table>
            <div class="clearfix">

              <nav aria-label="Page navigation example " *ngIf="(Users$|async) as api">
                <ul class="pagination justify-content-center" >
                  <li class="page-item "  [ngClass]="api.data.page.number===0?'disabled':''" >
                    <a class="page-link"  (click)="goToPage(api.data.page.number-1)" [ngClass]="api.data.page.number===0?'disabled':''" >Previous</a>
                  </li>
                  <li class="page-item" [ngClass]="i===api.data.page.number?'active':''" *ngFor="let pageNumber of [].constructor(api.data.page.totalPages),let i=index" (click)="goToPage(i)"><a class="page-link" >{{i+1}}</a></li>

                  <li class="page-item"   [ngClass]="api.data.page.number+1===api.data.page.totalPages?'disabled':''">
                    <a class="page-link"  [ngClass]="api.data.page.number+1===api.data.page.totalPages?'disabled':''" (click)="goToPage(api.data.page.number+1)">Next</a>
                  </li>
                </ul>
              </nav>
            </div>
        </div>
    </div>

