
<div class="pagetitle">
  <h1>Profile</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
      <li class="breadcrumb-item">Users</li>
      <li class="breadcrumb-item active">Edit User</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<section class="section profile">
  <div class="row">
    <div class="col-xl-4">

      <div class="card">
        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

          <img src="http://localhost:8080/QLCSVC/api/file/{{(user$|async).image}}" alt="Profile" class="rounded-circle">
          <h2>{{(user$|async).name}}</h2>
          <h3>{{(user$|async).chucVu.tenChucVu}}</h3>
          <div class="social-links mt-2">
            <a class="twitter"><i class="bi bi-twitter"></i></a>
            <a  class="facebook"><i class="bi bi-facebook"></i></a>
            <a  class="instagram"><i class="bi bi-instagram"></i></a>
            <a  class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
      </div>

    </div>

    <div class="col-xl-8">

      <div class="card">
        <div class="card-body pt-3">
          <!-- Bordered Tabs -->
          <ul class="nav nav-tabs nav-tabs-bordered">

            <li class="nav-item">
              <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
            </li>

            <li class="nav-item">
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
            </li>




          </ul>
          <div class="tab-content pt-2">

            <div class="tab-pane fade show active profile-overview" id="profile-overview">

              <h5 class="card-title">Profile Details</h5>
              <ng-container *ngIf="user$|async as user">
                <div class="row">
                  <div class="col-lg-3 col-md-4 label ">Họ và tên</div>
                  <div class="col-lg-9 col-md-8">{{user.name}}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">User name </div>
                  <div class="col-lg-9 col-md-8">{{user.username}}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Chức vụ</div>
                  <div class="col-lg-9 col-md-8">{{user.chucVu.tenChucVu}}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Địa chỉ</div>
                  <div class="col-lg-9 col-md-8">{{user.diachi}}</div>
                </div>



                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Phone</div>
                  <div class="col-lg-9 col-md-8">{{user.phone}}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Email</div>
                  <div class="col-lg-9 col-md-8">{{user.email}}</div>
                </div>

              </ng-container>

            </div>

            <div class="tab-pane fade profile-edit pt-3" id="profile-edit" *ngIf="user$|async as user">

              <!-- Profile Edit Form -->
              <form [formGroup]="editProfileForm" (ngSubmit)="onSubmit(editProfileForm.value)" enctype="multipart/form-data">
                <div class="row mb-3">
                  <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                  <div class="col-md-8 col-lg-9">
                    <img src="http://localhost:8080/QLCSVC/api/file/{{(user$|async).image}}" alt="Profile">

                  </div>
                </div>
                <div class="row mb-3">
                  <label for="image" class="col-md-4 col-lg-3 col-form-label">Upload image</label>
                  <div class="col-md-8 col-lg-9">
                    <input class="form-control" #file (change)="onFileChange(file)" type="file" id="formFileMultiple" multiple>
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Họ tên</label>
                  <div class="col-md-8 col-lg-9">
                    <input name="fullName" type="text" class="form-control" formControlName="name" id="fullName" >
                  </div>
                </div>






                <div class="row mb-3" formGroupName="chucVu">
                  <label for="Address" class="col-md-4 col-lg-3 col-form-label">Chức vụ</label>
                  <div class="col-md-4 col-lg-5 d-flex align-items-center" >
                    <select class="form-select form-select-sm " #select formControlName="maChucVu" (change)="chucVuChange(select.value)"  aria-label=".form-select-lg example">

                      <option  [value]="chucVu.maChucVu" [selected]="chucVu.maChucVu==(user$|async).chucVu.maChucVu" *ngFor="let chucVu of (chucVus$|async)">{{chucVu.tenChucVu}}</option>

                    </select>

                  </div>
                </div>


                <div class="row mb-3">
                  <label for="Country" class="col-md-4 col-lg-3 col-form-label">Địa chỉ</label>
                  <div class="col-md-8 col-lg-9">
                    <input name="country" type="text" class="form-control" formControlName="diachi" id="Country" >
                  </div>
                </div>


                <div class="row mb-3">
                  <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Phone</label>
                  <div class="col-md-8 col-lg-9">
                    <input name="phone" type="text" class="form-control" formControlName="phone" id="Phone" >
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="Email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                  <div class="col-md-8 col-lg-9">
                    <input name="email" type="email" class="form-control" formControlName="email" id="Email" >
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="Email" class="col-md-4 col-lg-3 col-form-label">Tuổi</label>
                  <div class="col-md-8 col-lg-9">
                    <input name="email" type="email" class="form-control" formControlName="tuoi">
                  </div>
                </div>







                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>

              </form><!-- End Profile Edit Form -->

            </div>





          </div><!-- End Bordered Tabs -->

        </div>
      </div>

    </div>
  </div>
</section>

