<div class="pagetitle">
  <h1>Dashboard</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/QLCSVC/phong">Phong</a></li>
      <li class="breadcrumb-item active">Danh sách phòng</li>
    </ol>
  </nav>
</div>
<section class="section dashboard">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-12">
          <div class="card top-selling overflow-auto">



            <div class="card-body pb-0">
              <div class="d-flex justify-content-between">
                <h5 class="card-title">Danh sách phòng <span></span></h5>
                <button type="button "*ngIf="isTruongKhoa()" (click)="navigateToPage()" class="btn btn-info my-2 btn-sm">Thêm phòng <i class="fa-solid fa-plus"></i></button>
              </div>

              <table class="table table-borderless">
                <thead>
                  <tr>
                    <th scope="col">Hình ảnh</th>
                    <th scope="col">Tên phòng</th>
                    <th scope="col">Chiều dài</th>
                    <th scope="col">Chiều rộng</th>
                    <th scope="col">Trạng thái</th>
                    <th scope="col">Danh mục phòng</th>
                    <th scope="col" *ngIf="isTruongKhoa()">Hành động</th>
                  </tr>
                </thead>
                <tbody *ngIf="(phongs|async).data.page.content as phongs">
                  <tr *ngFor="let phong of phongs">
                    <th scope="row"><a routerLink="/QLCSVC/phong/chitietphong/{{phong.maPhong}}" ><img src="http://localhost:8080/QLCSVC/api/file/{{phong.image}}" alt=""></a></th>
                    <td><a routerLink="/QLCSVC/phong/chitietphong/{{phong.maPhong}}" class="text-primary fw-bold">{{phong.tenPhong}}</a></td>
                    <td>{{phong.chieuDai}} m²</td>
                    <td >{{phong.chieuRong}} m²</td>
                    <td>{{phong.trangThai.tenTT}}</td>
                    <td>{{phong.danhMucPhong.tenDanhMucPhong}}</td>
                    <td *ngIf="isTruongKhoa()">
                      <button type="button" (click)="navigateToEditPage(phong.maPhong)" class="btn btn-primary me-2"> Sửa <i class="fa-solid fa-pen me-2"></i></button>
                      <a href="#deleteUser{{phong.maPhong}}" type="button" class="btn btn-danger btn-small" data-bs-toggle="modal" >Xóa <i class="fa-solid fa-trash"></i></a>

                    </td>
                    <!-- Modal -->
                    <div class="modal fade" id="deleteUser{{phong.maPhong}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Xác nhận xóa</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            Bạn có muốn xóa {{phong.tenPhong}}
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="deletePhong(phong)">Save changes</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </tr>


                </tbody>
              </table>

            </div>

            <nav aria-label="Page navigation example " *ngIf="(phongs|async) as api">
              <ul class="pagination justify-content-center" >
                <li class="page-item " [ngClass]="api.data.page.number+1===1?'disabled':''" (click)="goToPage(api.data.page.number-1)">
                  <a class="page-link"[ngClass]="api.data.page.number+1===1?'disabled':''" >Previous</a>
                </li>
                <li class="page-item" [ngClass]="i===api.data.page.number?'active':''" *ngFor="let pageNumber of [].constructor(api.data.page.totalPages),let i=index" (click)="goToPage(i)"><a class="page-link" >{{i+1}}</a></li>

                <li class="page-item"   [ngClass]="api.data.page.number+1===api.data.page.totalPages?'disabled':''">
                  <a class="page-link"  [ngClass]="api.data.page.number+1===api.data.page.totalPages?'disabled':''" (click)="goToPage(api.data.page.number+1)">Next</a>
                </li>
              </ul>
            </nav>

          </div>
        </div>


      </div>
    </div>
  </div>
</section>
